.wrapper{
	width: 1000px;
	height: 1000px;
	margin: 0 auto;
}

#clearfix{
    width: 1000px;
    height: 500px;
}
#clearfix1{
    width: 1000px;
    height: 300px;
}

#caja1{
	background-color: red;
    height: 100px;
    width: 1000px;
    
}

#cajon2{
	background-color: hsl(55, 100%, 61%);
    height: 500px;
    width: 250px;
    float: left;
}
#cajon3{
	background-color: rgb(233, 65, 255);
    height: 500px;
    width: 250px;
    float: left;
}
#caja4{
	background-color: rgb(55, 55, 255);
    height: 500px;
    width: 250px;
    float: left;
}
#caja5{
	background-color: rgb(62, 255, 79);
    height: 500px;
    width: 250px;
    float: left;
}

#box1{
    background-color: rgb(56, 139, 255);
    height: 300px;
    width: 500px;
    float: left;
}
#box2{
    background-color: rgb(56, 58, 59);
    height: 300px;
    width: 500px;
    float: left;
}

#boxdown{
    background-color: rgb(255, 51, 51);
    height: 50px;
    width: 1000px;
    bottom: -800px;
}
/* Text position */
.Texto-Top{
    float: left;
    padding-left: 10px;
    padding-top: 10px;
}
.Texto-Abajo{
    float: right;   
    padding-right: 10px;
    padding-top: 470px;
}
.Texto-Derecha{
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}
.Texto-Izquierda{
    float: left;
    padding-top: 470px;
    padding-left: 10px;
}